*{
	padding: 0;
	margin: 0;
	-wbkit-box-sizing: border-box;
	-mz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color:rgba(195, 169, 74, 0.62);
	height: 100%;
	perspective: 1000px;
}
.container-main{
	width: 100%;
	height: 648px;
	margin: auto;
}
.container{
	width: 33.333%;
	height: 33.333%;
	float: left;
}
.container:after{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
}
.A{
	width: 33.333%;
	height: 33.333%;
	float: left;
}
.B{
	width: 33.333%;
	height: 33.333%;
	float: left;
}
.B:nth-child(1){
	background-color: rgba(83, 195, 74, 0.5);
	-webkit-animation-name: color-1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: color-1;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: color-1;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: color-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.B:nth-child(2){
	-webkit-animation-name: color-2;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: color-2;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: color-2;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: color-2;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.B:nth-child(3){
	background-color: rgba(181, 74, 195, 0.5);
	-webkit-animation-name: color-3;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: color-3;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: color-3;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: color-3;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.B:nth-child(4){background-color: rgba(195, 24, 30, 0.5);
	animation-name: trans-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.B:nth-child(5){
	background-color: rgba(102, 226, 11, 0.5);
}
.B:nth-child(6){background-color: rgba(39, 183, 62, 0.5);}
.B:nth-child(7){background-color: rgba(195, 195, 74, 0.5);}
.B:nth-child(8){background-color: rgba(74, 83, 195, 0.5);}
.B:nth-child(9){background-color: rgba(195, 74, 74, 0.5);}

.B:nth-child(1):hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.B:nth-child(2):hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.B:nth-child(4):hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}


.B:nth-child(5):hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}


.container .F{
	background-color: rgba(0, 0, 186, 0.58); !important;
	width: 33.333%;
	height: 33.333%;
	float: left;
	animation: none;
}
.container .F:nth-child(2n-1){
	-webkit-animation-name: trans-1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: trans-1;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: trans-1;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: trans-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.container .F:nth-child(2n){
	-webkit-animation-name: trans-1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: trans-1;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: trans-1;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: trans-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}

.f-l{
	background-color: rgba(0, 0, 186, 0.58); !important;
	width: 50%;
	height: 100%;
	float: left;
	-webkit-animation-name: trans-1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: trans-1;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: trans-1;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: trans-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}
.f-r{
	background-color: rgba(0, 0, 186, 0.58); !important;
	width: 50%;
	height: 100%;
	float: right;
	-webkit-animation-name: trans-1;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: normal;
	-moz-animation-name: trans-1;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-direction: normal;
	-ms-animation-name: trans-1;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-direction: normal;
	animation-name: trans-1;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: normal;
}

@keyframes color-1{
	0%,100%{
		background-color: rgba(83, 195, 74, 0.5)
	}
	50%{
		background-color: rgba(116, 74, 195, 0.5)
	}
	80%{
		background-color: rgba(181, 74, 195, 0.5)
	}
}
@keyframes color-2{
	0%,100%{
		background-color: rgba(116, 74, 195, 0.5)
	}
	50%{
		background-color: rgba(83, 195, 74, 0.5)
	}
	80%{
		background-color: rgba(181, 74, 195, 0.5)
	}
}
@keyframes color-3{
	0%,100%{
		background-color: rgba(181, 74, 195, 0.5)
	}
	50%{
		background-color: rgba(83, 195, 74, 0.5)
	}
	80%{
		background-color: rgba(116, 74, 195, 0.5)
	}
}
@keyframes trans-1{
	0%,100%{
		transform: rotateZ(20deg)
	}
	50%{
		transform: rotateZ(-20deg)
	}
	80%{
		transform: rotateZ(0deg)
	}
}
@media(min-width: 1390px){
	.container-main{
		width: 100%;
		height: 1080px;
		margin: auto;
	}
}
@media(min-width: 1900px){
	.container-main{
		width: 100%;
		height: 2000px;
		margin: auto;
	}
}